NodoCentralRPi.json
[{"id":"301af902.a548d6","type":"tab","label":"MonitoreoNodo1-v2","disabled":false,"info":""},{"id":"40cf32ee.18ad7c","type":"tab","label":"MonitoreoNodo2-v2","disabled":false,"info":""},{"id":"8618ffee.13fff","type":"tab","label":"MonitoreoNodo3-v2","disabled":false,"info":""},{"id":"5e845131.497aa","type":"tab","label":"Auto/manual-v2","disabled":false,"info":""},{"id":"96aa9a9c.d60598","type":"tab","label":"Tablas de referencia","disabled":false,"info":""},{"id":"f94f35e.2538cc8","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"8883","tls":"3d115a13.9252f6","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e3a3e8a0.34f948","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Monitoreo y Control","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b5ef7972.14acb8","type":"ui_group","name":"Sensor capacitivo","tab":"9678d27d.a240b","order":1,"disp":true,"width":"6","collapse":false},{"id":"9cd9b05d.078d1","type":"ui_group","name":"Sensor DHT22","tab":"9678d27d.a240b","order":3,"disp":true,"width":"12","collapse":false},{"id":"7e5b72af.5d02fc","type":"ui_group","name":"Sensor LDR","tab":"9678d27d.a240b","order":2,"disp":true,"width":"6","collapse":false},{"id":"a67faa8a.53b298","type":"ui_group","name":"Sensor HC-SR04","tab":"c57e1796.e59148","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef0bf06e.6f7cf","type":"ui_group","name":"Actuador solo manual","tab":"c57e1796.e59148","order":7,"disp":true,"width":"6","collapse":false},{"id":"1c6b84ab.238a0b","type":"ui_group","name":"Valores umbrales","tab":"c57e1796.e59148","order":2,"disp":true,"width":"6","collapse":false},{"id":"30b79f88.7e6e4","type":"ui_group","name":"Control suministro de agua","tab":"c57e1796.e59148","order":3,"disp":true,"width":"6","collapse":false},{"id":"98534569.863cf8","type":"ui_group","name":"Estado del riego","tab":"c57e1796.e59148","order":4,"disp":true,"width":"6","collapse":false},{"id":"9678d27d.a240b","type":"ui_tab","name":"Monitoreo","icon":"timeline","order":1,"disabled":false,"hidden":false},{"id":"c57e1796.e59148","type":"ui_tab","name":"Control","icon":"tune","order":2,"disabled":false,"hidden":false},{"id":"8b7263b1.5dad7","type":"ui_group","name":"Referencia umbral humedad suelo","tab":"c57e1796.e59148","order":5,"disp":true,"width":"6","collapse":true},{"id":"8f7c5783.508ca8","type":"ui_group","name":"Referencia umbral luz","tab":"c57e1796.e59148","order":6,"disp":true,"width":"6","collapse":true},{"id":"1a65b23d.bca29e","type":"mqttdb-broker","name":"mqtt.thingspeak.com","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":"","persistout":true,"persistin":false,"compactinterval":"30"},{"id":"d965fc22.bd417","type":"ui_link","name":"ThingSpeak","link":"https://thingspeak.com/channels/1314546/private_show","icon":"open_in_browser","target":"newtab","order":3},{"id":"3d115a13.9252f6","type":"tls-config","name":"TLS CA","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"804ee90.8f5ad18","type":"mqtt in","z":"301af902.a548d6","name":"","topic":"/huerto/plantas/humidSuelo","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":130,"y":240,"wires":[["dbbc6f24.92bf"]]},{"id":"efe55c7d.18676","type":"ui_gauge","z":"301af902.a548d6","name":"Humedad del suelo","group":"b5ef7972.14acb8","order":5,"width":"0","height":"0","gtype":"gage","title":"Humedad del suelo","label":"%","format":"{{value}} %","min":0,"max":"100","colors":["#f55d3e","#58960d","#2ca58d"],"seg1":"","seg2":"","x":930,"y":180,"wires":[]},{"id":"4d39ad56.639f24","type":"ui_chart","z":"301af902.a548d6","name":"8 hr. vs HumidSuelo","group":"b5ef7972.14acb8","order":6,"width":"0","height":"0","label":"Graf. HumidSuelo 8hrs.","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b06397","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1020,"y":220,"wires":[[]]},{"id":"eecf8a98.378608","type":"ui_text","z":"301af902.a548d6","group":"b5ef7972.14acb8","order":4,"width":0,"height":0,"name":"Estado o nivel del suelo: ","label":"Estado o nivel del suelo: ","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":300,"wires":[]},{"id":"ffed42b8.367c2","type":"mqtt in","z":"301af902.a548d6","name":"","topic":"/estado1","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":100,"y":60,"wires":[["47c9ee0.ffd331","b67f8da7.843fa","26f2c725.f0c918"]]},{"id":"90d51504.5ed5f8","type":"ui_text","z":"301af902.a548d6","group":"b5ef7972.14acb8","order":1,"width":"5","height":"1","name":"Nodo 1:","label":"Nodo 1:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":40,"wires":[]},{"id":"d95e636c.f2a87","type":"range","z":"301af902.a548d6","minin":"470","maxin":"860","minout":"100","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":700,"y":200,"wires":[["efe55c7d.18676","e9808f0b.3bc93","8e4894b0.34a9d8","64e2f0ff.a22aa"]]},{"id":"dbbc6f24.92bf","type":"rbe","z":"301af902.a548d6","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":240,"wires":[["6a57c25a.76a22c"]]},{"id":"fa72bbb6.406d38","type":"function","z":"301af902.a548d6","name":"Clasificación niveles","func":"msg.payload = Number(msg.payload);\nlet msg1;\nif (msg.payload >= 840) {\n    msg1 = { payload:\"Muy seco o en aire \" + msg.payload};\n  }\n  else if (msg.payload < 840 && msg.payload >= 706) {\n    msg1 = { payload:\"Suelo seco \" + msg.payload};\n  }\n  else if (msg.payload < 706 && msg.payload >= 500) {\n    msg1 = { payload:\"Suelo húmedo \" + msg.payload};\n  }\n  else if (msg.payload < 500 && msg.payload >= 470) {\n    msg1 = { payload:\"Muy húmedo o en agua \" + msg.payload};\n  }\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":300,"wires":[["eecf8a98.378608"]]},{"id":"6153de8b.dda3e","type":"mqtt in","z":"40cf32ee.18ad7c","name":"","topic":"/estado2","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":140,"y":80,"wires":[["fe2662ab.73947","e911b466.219ac8","78b3c3f6.50590c","abd41370.96ff4"]]},{"id":"9f20aa08.63e4c8","type":"mqtt in","z":"40cf32ee.18ad7c","name":"","topic":"/huerto/plantas/tempAmb","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":170,"y":240,"wires":[["a0014796.8af428"]]},{"id":"923ec0d9.0957c","type":"mqtt in","z":"40cf32ee.18ad7c","name":"","topic":"/huerto/plantas/humidAmb","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":170,"y":380,"wires":[["4fb062c6.2dadfc"]]},{"id":"a532a350.b46bb","type":"ui_gauge","z":"40cf32ee.18ad7c","name":"Temperatura ambiente","group":"9cd9b05d.078d1","order":4,"width":"6","height":"4","gtype":"donut","title":"Temperatura ambiente","label":"°C","format":"{{value}}","min":0,"max":"35","colors":["#218380","#fbb13c","#df2935"],"seg1":"","seg2":"","x":820,"y":220,"wires":[]},{"id":"d0cf61cf.b5647","type":"ui_chart","z":"40cf32ee.18ad7c","name":"8 hr. vs TemAmb","group":"9cd9b05d.078d1","order":5,"width":"6","height":"4","label":"Graf. TemAmb 8hrs.","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"9","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#25a9cb","#aec7e8","#ff7f0e","#2a9d2a","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":260,"wires":[[]]},{"id":"802057ec.3b3f18","type":"ui_gauge","z":"40cf32ee.18ad7c","name":"Humedad ambiente","group":"9cd9b05d.078d1","order":6,"width":"6","height":"4","gtype":"donut","title":"Humedad ambiente","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#82d173","#3d76e1","#b79492"],"seg1":"","seg2":"","x":790,"y":360,"wires":[]},{"id":"4b8e7e37.7732","type":"ui_chart","z":"40cf32ee.18ad7c","name":"8 hr. vs HumidAmb","group":"9cd9b05d.078d1","order":7,"width":"6","height":"4","label":"Graf. HumidAmb 8hrs. ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"9","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ee4f64","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":400,"wires":[[]]},{"id":"cef40a0a.e59818","type":"mqtt in","z":"40cf32ee.18ad7c","name":"","topic":"/huerto/plantas/nivelLuz","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":160,"y":560,"wires":[["49ff2d4d.530074"]]},{"id":"d03bd11.e61383","type":"ui_gauge","z":"40cf32ee.18ad7c","name":"Intensidad de luz","group":"7e5b72af.5d02fc","order":5,"width":"0","height":"0","gtype":"gage","title":"Intensidad de luz","label":"lx","format":"{{value}} lx","min":0,"max":"172366","colors":["#33847b","#f18805","#fbff12"],"seg1":"","seg2":"","x":910,"y":540,"wires":[]},{"id":"e61b944b.f269b8","type":"ui_chart","z":"40cf32ee.18ad7c","name":"8 hr. vs NivelLuz","group":"7e5b72af.5d02fc","order":6,"width":"0","height":"0","label":"Graf. NivelLuz 8hrs. ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"9","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ec9a3c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":580,"wires":[[]]},{"id":"8d0f9ccc.a270a","type":"ui_text","z":"40cf32ee.18ad7c","group":"7e5b72af.5d02fc","order":4,"width":0,"height":0,"name":"Estado o nivel de luz: ","label":"Estado o nivel de luz: ","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":640,"wires":[]},{"id":"a0014796.8af428","type":"rbe","z":"40cf32ee.18ad7c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":390,"y":240,"wires":[["c7c715f2.8375d8"]]},{"id":"4fb062c6.2dadfc","type":"rbe","z":"40cf32ee.18ad7c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":370,"y":380,"wires":[["c863ac0e.6b88a"]]},{"id":"49ff2d4d.530074","type":"rbe","z":"40cf32ee.18ad7c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":350,"y":560,"wires":[["88aaa920.c4c0d8"]]},{"id":"79d456ff.bc6028","type":"mqtt in","z":"8618ffee.13fff","name":"","topic":"/estado3","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":100,"y":60,"wires":[["a38a1e1.ba08ce","3e382dcf.fce312","9175e030.3a94d"]]},{"id":"45ef62ec.42133c","type":"ui_text","z":"8618ffee.13fff","group":"a67faa8a.53b298","order":5,"width":0,"height":0,"name":"Nivel de agua vacio: ","label":"Nivel de agua vacio: ","format":"{{msg.payload}} cm.","layout":"row-spread","x":740,"y":260,"wires":[]},{"id":"9cc39b42.549f18","type":"ui_text","z":"8618ffee.13fff","group":"a67faa8a.53b298","order":6,"width":0,"height":0,"name":"Nivel de agua lleno: ","label":"Nivel de agua lleno: ","format":"{{msg.payload}} cm.","layout":"row-spread","x":970,"y":340,"wires":[]},{"id":"85f090ba.321ab","type":"mqtt in","z":"8618ffee.13fff","name":"","topic":"/huerto/deposito/nivelAgua","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":150,"y":240,"wires":[["640816d3.5c7108"]]},{"id":"d9a33181.46ca5","type":"ui_gauge","z":"8618ffee.13fff","name":"Nivel de agua del deposito","group":"a67faa8a.53b298","order":4,"width":0,"height":0,"gtype":"wave","title":"Nivel de agua del depósito","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":280,"wires":[]},{"id":"80abd3ba.700d6","type":"mqtt out","z":"8618ffee.13fff","d":true,"name":"","topic":"/huerto/deposito/releAgua","qos":"2","retain":"","broker":"f94f35e.2538cc8","x":730,"y":620,"wires":[]},{"id":"90dc3994.1911d8","type":"ui_switch","z":"8618ffee.13fff","d":true,"name":"Electrovalvula","label":"Electrovalvula","tooltip":"","group":"ef0bf06e.6f7cf","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":460,"y":620,"wires":[["80abd3ba.700d6","e89303f1.e1308"]]},{"id":"e89303f1.e1308","type":"ui_text","z":"8618ffee.13fff","d":true,"group":"ef0bf06e.6f7cf","order":3,"width":0,"height":0,"name":"Estado riego: ","label":"Estado riego: ","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":680,"wires":[]},{"id":"e5fb2f3b.82575","type":"ui_text","z":"8618ffee.13fff","group":"a67faa8a.53b298","order":1,"width":"5","height":"1","name":"Nodo 3:","label":"Nodo 3:","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":60,"wires":[]},{"id":"640816d3.5c7108","type":"rbe","z":"8618ffee.13fff","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":240,"wires":[["b67f10ef.efe8d"]]},{"id":"a253ac47.9f56e","type":"range","z":"8618ffee.13fff","minin":"3","maxin":"45","minout":"100","maxout":"0","action":"scale","round":true,"property":"payload","name":"Mapeo de 3 a Fondo (Distancia)","x":770,"y":220,"wires":[["6f70871.226e478","39fb0562.6f54da"]]},{"id":"38c3a1fd.f82d2e","type":"function","z":"8618ffee.13fff","name":"Df = Distancia - Di","func":"msg.payload  = parseFloat(Math.round((45 - msg.payload) * 100) / 100).toFixed(2);\n//para redondear a dos decimales\nmsg.payload = Math.abs(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":300,"wires":[["9cc39b42.549f18"]]},{"id":"e68526f8.4446d8","type":"inject","z":"5e845131.497aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"500","payloadType":"str","x":90,"y":100,"wires":[["7985d64c.c39b98"]]},{"id":"730d955b.23ecec","type":"inject","z":"5e845131.497aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"str","x":90,"y":60,"wires":[["7ae27d97.f80e74"]]},{"id":"9dd4ce11.1a9a","type":"change","z":"5e845131.497aa","name":"","rules":[{"t":"set","p":"umbralLuz","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[[]]},{"id":"2171bfa0.2fb57","type":"change","z":"5e845131.497aa","name":"","rules":[{"t":"set","p":"umbralAgua","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":60,"wires":[[]]},{"id":"718b499a.eb4148","type":"inject","z":"5e845131.497aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"70","payloadType":"str","x":90,"y":160,"wires":[["93af1b87.17dca8"]]},{"id":"93af1b87.17dca8","type":"ui_numeric","z":"5e845131.497aa","name":"Max. Humedad del suelo","label":"Max. Humedad del suelo","tooltip":"> El rele se apaga (valor por defecto 70)","group":"1c6b84ab.238a0b","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}%","min":0,"max":"100","step":1,"x":290,"y":160,"wires":[["fac8c2ac.df43f"]]},{"id":"58006974.f09448","type":"ui_numeric","z":"5e845131.497aa","name":"Min. Humedad del suelo","label":"Min. Humedad del suelo","tooltip":"<= El rele se enciende (valor por defecto 40)","group":"1c6b84ab.238a0b","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}%","min":0,"max":"100","step":1,"x":290,"y":200,"wires":[["f900bfb2.b44d"]]},{"id":"763b597b.b26138","type":"inject","z":"5e845131.497aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"str","x":90,"y":200,"wires":[["58006974.f09448"]]},{"id":"da9ecbe9.713af8","type":"comment","z":"5e845131.497aa","name":"Condicion","info":"Cuando la humedad del suelo es menor a 40% el rele se enciende, y se apaga cuando la humedad llega a 70%.","x":100,"y":240,"wires":[]},{"id":"fac8c2ac.df43f","type":"change","z":"5e845131.497aa","name":"","rules":[{"t":"set","p":"maxhumidSuelo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[[]]},{"id":"f900bfb2.b44d","type":"change","z":"5e845131.497aa","name":"","rules":[{"t":"set","p":"minhumidSuelo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[[]]},{"id":"47f8fa89.191394","type":"inject","z":"5e845131.497aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":810,"y":60,"wires":[["d9cb2626.c14828"]]},{"id":"8d7e3067.7ed63","type":"inject","z":"5e845131.497aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":810,"y":160,"wires":[["43f4f02f.3fa31"]]},{"id":"d9cb2626.c14828","type":"ui_switch","z":"5e845131.497aa","name":"","label":"Manual | Automático","tooltip":"Valor por defecto manual","group":"30b79f88.7e6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1020,"y":60,"wires":[["2b460163.c7eebe","afe274e8.b7cf28"]]},{"id":"43f4f02f.3fa31","type":"ui_switch","z":"5e845131.497aa","name":"","label":"Electroválvula off | on","tooltip":"Valor por defecto off","group":"30b79f88.7e6e4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":1020,"y":160,"wires":[["3a19d4a6.1c099c"]]},{"id":"2b460163.c7eebe","type":"change","z":"5e845131.497aa","name":"am - automanual","rules":[{"t":"set","p":"rele_am","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":60,"wires":[[]]},{"id":"3a19d4a6.1c099c","type":"change","z":"5e845131.497aa","name":"man - manual","rules":[{"t":"set","p":"rele_man","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":160,"wires":[[]]},{"id":"de71359e.7f60b8","type":"comment","z":"5e845131.497aa","name":"Valores por defecto","info":"Para establecer los valores por defecto:\nldr = 500\nnivelAgua = 10\nrele = off - 0 (rele_man)\nhummax = 70\nhummin = 40\nmodo = auto - 0 (rele_am)","x":730,"y":100,"wires":[]},{"id":"9b24c2fe.fd7ec","type":"inject","z":"5e845131.497aa","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"luz","payload":"600","payloadType":"str","x":100,"y":680,"wires":[["52d3ccad.b8b404"]]},{"id":"9f72cfb4.aec1e","type":"inject","z":"5e845131.497aa","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"agua","payload":"50","payloadType":"str","x":100,"y":640,"wires":[["9872b2ac.0f3c3"]]},{"id":"52d3ccad.b8b404","type":"change","z":"5e845131.497aa","d":true,"name":"","rules":[{"t":"set","p":"global_luz","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":680,"wires":[[]]},{"id":"9872b2ac.0f3c3","type":"change","z":"5e845131.497aa","d":true,"name":"","rules":[{"t":"set","p":"global_agua","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":640,"wires":[[]]},{"id":"115345b8.d36a3a","type":"switch","z":"5e845131.497aa","name":"rele auto/manual","property":"rele_am","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":480,"wires":[["66775da5.b11ef4"],["ad0f5cd6.c8068"]]},{"id":"d766f0bc.b71f7","type":"switch","z":"5e845131.497aa","name":"ctrl humidSuelo","property":"global_humidSuelo","propertyType":"global","rules":[{"t":"lte","v":"minhumidSuelo","vt":"global"},{"t":"gt","v":"maxhumidSuelo","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":420,"wires":[["b5fd52b1.25304"],["409fee76.ac5e1"]]},{"id":"ad0f5cd6.c8068","type":"switch","z":"5e845131.497aa","name":"ctrl manual","property":"rele_man","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":500,"wires":[["b5fd52b1.25304"],["409fee76.ac5e1"]]},{"id":"409fee76.ac5e1","type":"change","z":"5e845131.497aa","name":"0 (off)","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":460,"wires":[["3242538f.0ee94c"]]},{"id":"b5fd52b1.25304","type":"change","z":"5e845131.497aa","name":"1 (on)","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":500,"wires":[["3242538f.0ee94c"]]},{"id":"3242538f.0ee94c","type":"rbe","z":"5e845131.497aa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1030,"y":480,"wires":[["f2c4f0eb.049f1"]]},{"id":"f2c4f0eb.049f1","type":"link out","z":"5e845131.497aa","name":"","links":["c75e3c0f.ea9fe"],"x":1115,"y":480,"wires":[]},{"id":"c75e3c0f.ea9fe","type":"link in","z":"5e845131.497aa","name":"","links":["f2c4f0eb.049f1"],"x":1115,"y":340,"wires":[["6fda4138.1a16a","fd554d23.ee0d6","aeebc21e.a2106"]]},{"id":"4f1a1af5.b27fb4","type":"ui_text","z":"5e845131.497aa","group":"98534569.863cf8","order":5,"width":0,"height":0,"name":"","label":"Estado del actuador:","format":"{{msg.payload}}","layout":"row-center","x":1540,"y":340,"wires":[]},{"id":"d65160bc.53b38","type":"comment","z":"5e845131.497aa","name":"default rele_am = 0","info":"","x":290,"y":520,"wires":[]},{"id":"9745e21c.8663a","type":"comment","z":"5e845131.497aa","name":"default rele_man = 0","info":"","x":590,"y":540,"wires":[]},{"id":"c8de8b13.cb73a8","type":"comment","z":"5e845131.497aa","name":"default minhumidSuelo = 40 - maxhumidSuelo = 70, global_humidSuelo","info":"","x":810,"y":380,"wires":[]},{"id":"7985d64c.c39b98","type":"ui_slider","z":"5e845131.497aa","name":"Umbral luz (lx)","label":"Umbral luz (lx)","tooltip":"<= El rele se enciende (valor por defecto 500)","group":"1c6b84ab.238a0b","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"16035","step":"10","x":260,"y":100,"wires":[["9dd4ce11.1a9a"]]},{"id":"7ae27d97.f80e74","type":"ui_slider","z":"5e845131.497aa","name":"Umbral nivel agua (%)","label":"Umbral nivel agua (%)","tooltip":">= El rele se enciende (valor por defecto 10)","group":"1c6b84ab.238a0b","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","x":280,"y":60,"wires":[["2171bfa0.2fb57"]]},{"id":"46c3108c.02b2e","type":"inject","z":"5e845131.497aa","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"humedadSuelo","payload":"20","payloadType":"str","x":130,"y":720,"wires":[["2ccd64ef.a4ac7c"]]},{"id":"2ccd64ef.a4ac7c","type":"change","z":"5e845131.497aa","d":true,"name":"","rules":[{"t":"set","p":"global_humidSuelo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":720,"wires":[[]]},{"id":"9831a83e.560e58","type":"inject","z":"5e845131.497aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":440,"wires":[["115345b8.d36a3a"]]},{"id":"66775da5.b11ef4","type":"switch","z":"5e845131.497aa","name":"ctrl agua","property":"global_agua","propertyType":"global","rules":[{"t":"lt","v":"umbralAgua","vt":"global"},{"t":"gte","v":"umbralAgua","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":420,"wires":[["54b467ee.cd4e08"],["541deb2e.294c94"]]},{"id":"a4d462b5.80fbc","type":"comment","z":"5e845131.497aa","name":"default umbralAgua = 10, global_agua","info":"","x":270,"y":380,"wires":[]},{"id":"541deb2e.294c94","type":"switch","z":"5e845131.497aa","name":"ctrl luz","property":"global_luz","propertyType":"global","rules":[{"t":"lte","v":"umbralLuz","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":420,"wires":[["d766f0bc.b71f7"]]},{"id":"2b43ebb7.e8f0c4","type":"comment","z":"5e845131.497aa","name":"default umbralLuz= 500, global_luz","info":"","x":520,"y":300,"wires":[]},{"id":"228822bc.89b2de","type":"mqtt out","z":"5e845131.497aa","name":"","topic":"/huerto/deposito/releAgua","qos":"0","retain":"","broker":"f94f35e.2538cc8","x":1480,"y":220,"wires":[]},{"id":"4d3614.0daaa9ec","type":"ui_text","z":"5e845131.497aa","group":"30b79f88.7e6e4","order":4,"width":0,"height":0,"name":"Mensaje enviado al actuador: ","label":"Mensaje enviado al actuador: ","format":"{{msg.payload}}","layout":"row-spread","x":1490,"y":280,"wires":[]},{"id":"db9cf7f2.d84778","type":"ui_text","z":"5e845131.497aa","group":"30b79f88.7e6e4","order":1,"width":0,"height":0,"name":"","label":"Modo:","format":"{{msg.payload}}","layout":"row-spread","x":1390,"y":100,"wires":[]},{"id":"afe274e8.b7cf28","type":"change","z":"5e845131.497aa","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"Automatico","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":100,"wires":[["db9cf7f2.d84778"]]},{"id":"47c9ee0.ffd331","type":"change","z":"301af902.a548d6","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Inactivo","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"Activo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":40,"wires":[["90d51504.5ed5f8"]]},{"id":"fe2662ab.73947","type":"change","z":"40cf32ee.18ad7c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Inactivo","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"Activo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":40,"wires":[["e42ca2d8.f2609","6b46b0cd.8bfaf"]]},{"id":"a38a1e1.ba08ce","type":"change","z":"8618ffee.13fff","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Inactivo","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"Activo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":60,"wires":[["e5fb2f3b.82575"]]},{"id":"6fda4138.1a16a","type":"ui_led","z":"5e845131.497aa","order":1,"group":"98534569.863cf8","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1250,"y":380,"wires":[]},{"id":"b67f8da7.843fa","type":"ui_led","z":"301af902.a548d6","order":2,"group":"b5ef7972.14acb8","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":260,"y":80,"wires":[]},{"id":"3e382dcf.fce312","type":"ui_led","z":"8618ffee.13fff","order":2,"group":"a67faa8a.53b298","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":250,"y":100,"wires":[]},{"id":"e42ca2d8.f2609","type":"ui_text","z":"40cf32ee.18ad7c","group":"9cd9b05d.078d1","order":1,"width":"6","height":"1","name":"Nodo 2:","label":"Nodo 2:","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":80,"wires":[]},{"id":"e911b466.219ac8","type":"ui_led","z":"40cf32ee.18ad7c","order":2,"group":"9cd9b05d.078d1","width":"6","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":290,"y":120,"wires":[]},{"id":"6b46b0cd.8bfaf","type":"ui_text","z":"40cf32ee.18ad7c","group":"7e5b72af.5d02fc","order":1,"width":"5","height":"1","name":"Nodo 2:","label":"Nodo 2:","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":40,"wires":[]},{"id":"78b3c3f6.50590c","type":"ui_led","z":"40cf32ee.18ad7c","order":2,"group":"7e5b72af.5d02fc","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":290,"y":80,"wires":[]},{"id":"abd41370.96ff4","type":"function","z":"40cf32ee.18ad7c","name":"Notificacion desconexion Nodo2","func":"msg.payload = Number(msg.payload);\nlet msg1;\nif (msg.payload === 0) {\n    msg1 = { payload:\"El nodo 2 se ha desconectado\"};\n}\nreturn msg1;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["1fad539a.7627ac"]]},{"id":"1fad539a.7627ac","type":"ui_toast","z":"40cf32ee.18ad7c","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":590,"y":120,"wires":[]},{"id":"26f2c725.f0c918","type":"function","z":"301af902.a548d6","name":"Notificacion desconexion Nodo1","func":"msg.payload = Number(msg.payload);\nlet msg1;\nif (msg.payload === 0) {\n    msg1 = { payload:\"El nodo 1 se ha desconectado\"};\n}\nreturn msg1;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":120,"wires":[["a0616132.dd70f"]]},{"id":"a0616132.dd70f","type":"ui_toast","z":"301af902.a548d6","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":570,"y":120,"wires":[]},{"id":"9175e030.3a94d","type":"function","z":"8618ffee.13fff","name":"Notificacion desconexion Nodo3","func":"msg.payload = Number(msg.payload);\nlet msg1;\nif (msg.payload === 0) {\n    msg1 = { payload:\"El nodo 3 se ha desconectado\"};\n}\nreturn msg1;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":140,"wires":[["a6d2a52f.e5a688"]]},{"id":"a6d2a52f.e5a688","type":"ui_toast","z":"8618ffee.13fff","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":550,"y":100,"wires":[]},{"id":"b1b6cd0c.71711","type":"function","z":"5e845131.497aa","name":"Notificacion nivel de agua","func":"let msg1;\nmsg1 = { payload:\"El nivel de agua es insuficiente\"};\nreturn msg1;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":340,"wires":[["1213fa0b.dd1f66"]]},{"id":"1213fa0b.dd1f66","type":"ui_toast","z":"5e845131.497aa","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":970,"y":300,"wires":[]},{"id":"54b467ee.cd4e08","type":"trigger","z":"5e845131.497aa","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":530,"y":340,"wires":[["b1b6cd0c.71711"]]},{"id":"6a57c25a.76a22c","type":"function","z":"301af902.a548d6","name":"Estructura de control","func":"//Proteccion en caso de valores erroneos\nif (msg.payload < 470){\n    msg.payload = nan; //Agua\n}\nelse if (msg.payload > 860){\n    msg.payload = nan; //Aire\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":240,"wires":[["d95e636c.f2a87","fa72bbb6.406d38"]]},{"id":"6f70871.226e478","type":"function","z":"8618ffee.13fff","name":"Estructura de control valores pico","func":"//Proteccion en caso de valores pico\nif (msg.payload < 0){\n    msg.payload = 0;\n}\nelse if (msg.payload > 100){\n    msg.payload = 100;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":220,"wires":[["d9a33181.46ca5"]]},{"id":"fd554d23.ee0d6","type":"function","z":"5e845131.497aa","name":"Texto estado actuador","func":"if (msg.payload == 1){\n    msg.payload = \"Rele Encendido\";\n}\nelse {\n    msg.payload = \"Rele Apagado\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":340,"wires":[["4f1a1af5.b27fb4"]]},{"id":"3d997d8d.38f0e2","type":"template","z":"96aa9a9c.d60598","name":"Tabla Humedad Suelo","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table class=\"tg\">\n<thead>\n  <tr>\n    <th class=\"tg-v3q6\">Nivel o estado de humedad</th>\n    <th class=\"tg-v3q6\">Rango de valores ADC</th>\n    <th class=\"tg-v3q6\">Rango de valores en porcentaje</th>\n  </tr>\n</thead>\n<tbody>\n  <tr>\n    <td class=\"tg-fwjp\">Muy húmedo o en agua</td>\n    <td class=\"tg-2q37\">470 - 499</td>\n    <td class=\"tg-fwjp\">100 - 93 %</td>\n  </tr>\n  <tr>\n    <td class=\"tg-fwjp\">Suelo húmedo</td>\n    <td class=\"tg-2q37\">500 - 705</td>\n    <td class=\"tg-fwjp\"> 92 - 40 %</td>\n  </tr>\n  <tr>\n    <td class=\"tg-fwjp\">Suelo seco</td>\n    <td class=\"tg-2q37\">706 - 839</td>\n    <td class=\"tg-fwjp\"> 39 - 5 %</td>\n  </tr>\n  <tr>\n    <td class=\"tg-fwjp\">Muy seco o en aire</td>\n    <td class=\"tg-2q37\">840 - 860</td>\n    <td class=\"tg-fwjp\">4 - 0 %</td>\n  </tr>\n</tbody>\n</table>","output":"str","x":340,"y":100,"wires":[["94163aaa.20be98"]]},{"id":"94163aaa.20be98","type":"ui_template","z":"96aa9a9c.d60598","group":"8b7263b1.5dad7","name":"Tabla Humedad Suelo","order":1,"width":"6","height":"7","format":"<style>\n.tg  {border-collapse:collapse;border-spacing:0;}\n.tg td{border-color:black;border-style:solid;border-width:1px;\n  overflow:hidden;padding:10px 5px;word-break:normal;}\n.tg th{border-color:black;border-style:solid;border-width:1px;\n  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}\n.tg .tg-v3q6{background-color:#329a9d;border-color:white;color:#ffffff;text-align:center;vertical-align:top}\n.tg .tg-fwjp{border-color:#329a9d;color:#ffffff;text-align:center;vertical-align:top}\n.tg .tg-2q37{border-color:#329a9d;color:#ffffff;text-align:center;vertical-align:top}\n</style>\n\n<div class=\"main\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":580,"y":100,"wires":[[]]},{"id":"a6384a1f.c87b68","type":"inject","z":"96aa9a9c.d60598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["3d997d8d.38f0e2"]]},{"id":"805d3165.6654a","type":"comment","z":"96aa9a9c.d60598","name":"humedadSuelo","info":"","x":600,"y":60,"wires":[]},{"id":"bb82953c.147808","type":"comment","z":"96aa9a9c.d60598","name":"Luz","info":"","x":590,"y":160,"wires":[]},{"id":"bafca902.8b2488","type":"template","z":"96aa9a9c.d60598","name":"Tabla Luz","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table class=\"tg\">\n<thead>\n  <tr>\n    <th class=\"tg-v3q6\">Nivel o intensidad de luz</th>\n    <th class=\"tg-v3q6\">Rango de valores ADC</th>\n    <th class=\"tg-v3q6\">Rango de valores en lux</th>\n  </tr>\n</thead>\n<tbody>\n  <tr>\n    <td class=\"tg-fwjp\">Oscuridad</td>\n    <td class=\"tg-2q37\">1 - 66</td>\n    <td class=\"tg-fwjp\">0 - 2 lx</td>\n  </tr>\n  <tr>\n    <td class=\"tg-fwjp\">Oscuridad tenue</td>\n    <td class=\"tg-2q37\">67 - 423</td>\n    <td class=\"tg-fwjp\">3 - 90 lx</td>\n  </tr>\n  <tr>\n    <td class=\"tg-fwjp\">Luz suave</td>\n    <td class=\"tg-2q37\">424 - 791</td>\n    <td class=\"tg-fwjp\">91 - 1034 lx</td>\n  </tr>\n  <tr>\n    <td class=\"tg-fwjp\">Luz brillante</td>\n    <td class=\"tg-2q37\">792 - 974</td>\n    <td class=\"tg-fwjp\">1043 - 15516 lx</td>\n  </tr>\n  <tr>\n    <td class=\"tg-fwjp\">Luz muy brillante</td>\n    <td class=\"tg-2q37\">975 - 1023</td>\n    <td class=\"tg-fwjp\">16035 -7198203 lx</td>\n  </tr>\n</tbody>\n</table>","output":"str","x":300,"y":160,"wires":[["27016e4d.d7a452"]]},{"id":"27016e4d.d7a452","type":"ui_template","z":"96aa9a9c.d60598","group":"8f7c5783.508ca8","name":"Tabla Luz","order":2,"width":"6","height":"7","format":"<style>\n.tg  {border-collapse:collapse;border-spacing:0;}\n.tg td{border-color:black;border-style:solid;border-width:1px;\n  overflow:hidden;padding:10px 5px;word-break:normal;}\n.tg th{border-color:black;border-style:solid;border-width:1px;\n  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}\n.tg .tg-v3q6{background-color:#329a9d;border-color:white;color:#ffffff;text-align:center;vertical-align:top}\n.tg .tg-fwjp{border-color:#329a9d;color:#ffffff;text-align:center;vertical-align:top}\n.tg .tg-2q37{border-color:#329a9d;color:#ffffff;text-align:center;vertical-align:top}\n</style>\n\n<div class=\"main\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":460,"y":160,"wires":[[]]},{"id":"ae2e8867.f7d528","type":"inject","z":"96aa9a9c.d60598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["bafca902.8b2488"]]},{"id":"39fb0562.6f54da","type":"change","z":"8618ffee.13fff","name":"","rules":[{"t":"set","p":"global_agua","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":160,"wires":[[]]},{"id":"f68138c2.b37b08","type":"comment","z":"8618ffee.13fff","name":"Distancia deposito","info":"Cambiar en funcion y en RBE.\nDistancia = 45cm aprox.\n-3cm, para mapeo","x":670,"y":180,"wires":[]},{"id":"c863ac0e.6b88a","type":"function","z":"40cf32ee.18ad7c","name":"Estructura de control","func":"//Proteccion en caso de valores erroneos\nif (msg.payload == \"nan\"){\n    msg.payload = nan;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["802057ec.3b3f18","debe0c81.04f3c","d76d35e0.8650f8"]]},{"id":"c7c715f2.8375d8","type":"function","z":"40cf32ee.18ad7c","name":"Estructura de control","func":"//Proteccion en caso de valores erroneos\nif (msg.payload == \"nan\"){\n    msg.payload = nan;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":240,"wires":[["a532a350.b46bb","611e5378.f1205c","89a83b64.ad07f8"]]},{"id":"8db17304.9de8c","type":"mqtt in","z":"301af902.a548d6","name":"","topic":"/estadoCapacitivo","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":110,"y":360,"wires":[["ca057178.5472d"]]},{"id":"fbbb0563.9ed208","type":"ui_text","z":"301af902.a548d6","group":"b5ef7972.14acb8","order":3,"width":0,"height":0,"name":"Sensor capacitivo: ","label":"Sensor capacitivo: ","format":"{{msg.payload}}","layout":"row-center","x":530,"y":360,"wires":[]},{"id":"ca057178.5472d","type":"change","z":"301af902.a548d6","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"Correcto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Fallo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["fbbb0563.9ed208"]]},{"id":"cfb445fc.449dc8","type":"mqtt in","z":"40cf32ee.18ad7c","name":"","topic":"/estadoDHT","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":130,"y":660,"wires":[["87f16cba.cdf6a"]]},{"id":"156fb022.a79ce","type":"mqtt in","z":"40cf32ee.18ad7c","name":"","topic":"/estadoLDR","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":130,"y":720,"wires":[["28897775.073b88"]]},{"id":"87f16cba.cdf6a","type":"change","z":"40cf32ee.18ad7c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"Correcto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Fallo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":700,"wires":[["acc16a07.c58b88"]]},{"id":"28897775.073b88","type":"change","z":"40cf32ee.18ad7c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"Correcto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Fallo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":760,"wires":[["6d6d29d2.dd8028"]]},{"id":"acc16a07.c58b88","type":"ui_text","z":"40cf32ee.18ad7c","group":"9cd9b05d.078d1","order":3,"width":0,"height":0,"name":"Sensor DHT22: ","label":"Sensor DHT22: ","format":"{{msg.payload}}","layout":"row-center","x":540,"y":700,"wires":[]},{"id":"6d6d29d2.dd8028","type":"ui_text","z":"40cf32ee.18ad7c","group":"7e5b72af.5d02fc","order":3,"width":0,"height":0,"name":"Sensor LDR: ","label":"Sensor LDR: ","format":"{{msg.payload}}","layout":"row-center","x":530,"y":760,"wires":[]},{"id":"b67f10ef.efe8d","type":"function","z":"8618ffee.13fff","name":"Estructura de control","func":"//Proteccion en caso de valores erroneos\nif (msg.payload < 2){\n    msg.payload = nan;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[["a253ac47.9f56e","45ef62ec.42133c","38c3a1fd.f82d2e"]]},{"id":"1e8a958c.12f78a","type":"mqtt in","z":"8618ffee.13fff","name":"","topic":"/estadoHCSR04","qos":"0","datatype":"auto","broker":"f94f35e.2538cc8","x":120,"y":380,"wires":[["35cff73b.3e7c48"]]},{"id":"35cff73b.3e7c48","type":"change","z":"8618ffee.13fff","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"Correcto","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"Fallo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":380,"wires":[["9ef3e96b.ce48f8"]]},{"id":"9ef3e96b.ce48f8","type":"ui_text","z":"8618ffee.13fff","group":"a67faa8a.53b298","order":3,"width":0,"height":0,"name":"Sensor HCSR04: ","label":"Sensor HCSR04: ","format":"{{msg.payload}}","layout":"row-center","x":530,"y":380,"wires":[]},{"id":"f2e1f4b3.c89cb8","type":"change","z":"40cf32ee.18ad7c","name":"","rules":[{"t":"set","p":"global_luz","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":500,"wires":[[]]},{"id":"e9808f0b.3bc93","type":"change","z":"301af902.a548d6","name":"","rules":[{"t":"set","p":"global_humidSuelo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":120,"wires":[[]]},{"id":"64e2f0ff.a22aa","type":"trigger","z":"301af902.a548d6","name":"Muestra 5 min.","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":820,"y":60,"wires":[["b9d5d269.b6009"]]},{"id":"b9d5d269.b6009","type":"mqttdb out","z":"301af902.a548d6","d":true,"name":"HumidSuelo-ThingSpeak","topic":"channels/1314546/publish/fields/field4/FN0YOKB9OEZWFW2P","qos":"0","retain":"","broker":"1a65b23d.bca29e","x":1050,"y":60,"wires":[]},{"id":"611e5378.f1205c","type":"trigger","z":"40cf32ee.18ad7c","name":"Muestra 5 min.","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":800,"y":160,"wires":[["ffd1c84e.347878"]]},{"id":"ffd1c84e.347878","type":"mqttdb out","z":"40cf32ee.18ad7c","d":true,"name":"TempAmb-ThingSpeak","topic":"channels/1314546/publish/fields/field2/FN0YOKB9OEZWFW2P","qos":"0","retain":"","broker":"1a65b23d.bca29e","x":1020,"y":160,"wires":[]},{"id":"debe0c81.04f3c","type":"trigger","z":"40cf32ee.18ad7c","name":"Muestra 5 min.","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":720,"y":320,"wires":[["eaa60330.3599f"]]},{"id":"eaa60330.3599f","type":"mqttdb out","z":"40cf32ee.18ad7c","d":true,"name":"HumidAmb-ThingSpeak","topic":"channels/1314546/publish/fields/field1/FN0YOKB9OEZWFW2P","qos":"0","retain":"","broker":"1a65b23d.bca29e","x":1010,"y":320,"wires":[]},{"id":"349b505a.a3bbc","type":"trigger","z":"40cf32ee.18ad7c","name":"Muestra 5 min.","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":880,"y":460,"wires":[["9558bc97.35a91"]]},{"id":"9558bc97.35a91","type":"mqttdb out","z":"40cf32ee.18ad7c","d":true,"name":"NivLuz-ThingSpeak","topic":"channels/1314546/publish/fields/field3/FN0YOKB9OEZWFW2P","qos":"0","retain":"","broker":"1a65b23d.bca29e","x":1090,"y":460,"wires":[]},{"id":"aeebc21e.a2106","type":"change","z":"5e845131.497aa","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":280,"wires":[["228822bc.89b2de","4d3614.0daaa9ec"]]},{"id":"89a83b64.ad07f8","type":"smooth","z":"40cf32ee.18ad7c","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":true,"x":780,"y":260,"wires":[["d0cf61cf.b5647"]]},{"id":"d76d35e0.8650f8","type":"smooth","z":"40cf32ee.18ad7c","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":true,"x":740,"y":400,"wires":[["4b8e7e37.7732"]]},{"id":"ec4b4a0.f4662b8","type":"smooth","z":"40cf32ee.18ad7c","name":"","property":"payload","action":"mean","count":"20","round":"0","mult":"single","reduce":true,"x":860,"y":580,"wires":[["e61b944b.f269b8"]]},{"id":"8e4894b0.34a9d8","type":"smooth","z":"301af902.a548d6","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":true,"x":840,"y":220,"wires":[["4d39ad56.639f24"]]},{"id":"96c4842c.fb03f8","type":"function","z":"40cf32ee.18ad7c","name":"Clasificacion niveles","func":"msg.payload = Number(msg.payload);\nlet msg1;\nif (msg.payload >= 975) {\n    msg1 = { payload:\"Luz muy brillante \" + msg.payload};\n  }\n  else if (msg.payload < 975 && msg.payload >= 792) {\n    msg1 = { payload:\"Luz brillante \" + msg.payload};\n  }\n  else if (msg.payload < 792 && msg.payload >= 424) {\n    msg1 = { payload:\"Luz suave \" + msg.payload};\n  }\n  else if (msg.payload < 424 && msg.payload >= 67) {\n    msg1 = { payload:\"Oscuridad tenue \" + msg.payload};\n  }\n  else if (msg.payload < 67) {\n    msg1 = { payload:\"Oscuridad \" + msg.payload};\n  }\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":640,"wires":[["8d0f9ccc.a270a"]]},{"id":"88aaa920.c4c0d8","type":"function","z":"40cf32ee.18ad7c","name":"Estructura de control","func":"if (msg.payload == 0) {\n    msg.payload = nan;\n}\nif (msg.payload == 1024) {\n    msg.payload = 1023;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":560,"wires":[["96c4842c.fb03f8","7f5060c2.fd355"]]},{"id":"7f5060c2.fd355","type":"function","z":"40cf32ee.18ad7c","name":"LDRlux","func":"msg.payload = Number(msg.payload);\n\nconst adc = 1024;\nconst volt_ref_adc = 3.3;\nconst resist_ref = 9987;\nconst lux_calc_esc = 246060094.11;\nconst lux_calc_exp = -1.55;\n\nlet resist_volt = { payload: (msg.payload/adc)*volt_ref_adc};\nlet ldr_volt = { payload: volt_ref_adc - resist_volt.payload};\nlet ldr_resi = { payload: (ldr_volt.payload/resist_volt.payload)*resist_ref};\nlet ldrLux = { payload: lux_calc_esc*Math.pow(ldr_resi.payload,lux_calc_exp)};\n\nldrLux.payload = Math.round(ldrLux.payload);\n\nreturn ldrLux;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":500,"wires":[["349b505a.a3bbc","f2e1f4b3.c89cb8","d03bd11.e61383","ec4b4a0.f4662b8"]]}]